<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    {% for i in user_file %}
    <p>{{i["filename"]}}
    <a href="/download/{{i["filename"]}}">
        Download
    </a>
    </p>
    {% endfor %}
    <p>
    <h1>Upload the Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>
    </p>
</body>
</html>